services: 
  frontend:
    build:
      context: ./frontend
    ports:
      - "${NEXT_PORT}:${NEXT_PORT}"
    environment:
      NEXT_PORT: ${NEXT_PORT}
    restart: unless-stopped
    networks:
      - app-network
    depends_on:
      - backend
  backend:
    build:
      context: ./backend
    ports:
      - "${GO_PORT}:${GO_PORT}"
    environment:
      - GO_PORT=${GO_PORT}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    depends_on:
      - db
    networks:
      - app-network
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network
  pgadmin:
    image: dpage/pgadmin4
    profiles:
      - pgadmin
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80" # expose pgadmin web UI
    networks:
      - app-network
    depends_on:
      - db

networks:
  app-network:

volumes:
  db_data:

#docker-compose up --build
#docker-compose down