.mainBlock {
  box-sizing: border-box;
  padding: 1em 2em;
}
.h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 800;
}

.section {
  background: #ccc;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.h2 {
  padding: 0.5em 0;
  padding-left: 3em;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.openSection {
  box-sizing: border-box;
  padding: 1em;
  background: #bbb;
}
.closedSection {
  display: none;
}
.closedSectionHeader::before {
  content: "";
  display: inline-block;
  border-left: 0.8em solid;
  border-block: 0.5em solid transparent;
  margin-right: 1em;
}
.openSectionHeader::before {
  content: "";
  display: inline-block;
  border-top: 0.8em solid;
  border-inline: 0.5em solid transparent;
  margin-right: 1em;
}
